
@media (min-width: 1024px) {
#category-info {
  font-size: 32px;
}
}

#b200  {
  max-width: 1440px;
  margin: 20px auto;
  font-family: 'ballo 2', sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#favorites {
  max-width: 1440px;
  margin: auto;
  font-family: 'ballo 2', sans-serif;
}

.b200-container {
  position: relative;
  display: inline-block;
  height: auto;
  width: 14%;
  margin: 0 17px 35px 17px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Skapar en subtil skugga */
  transition: transform 0.3s, box-shadow 0.3s; 
  min-width: 180px;
  border-radius: 8px;
  border: .5px solid #5B5B5B;
}


.b200-container h5 {
  margin: 0;
  height: 50px;
  padding: 5px;
  font-size: medium;
  text-align: center;
}

.b200-container img {
  width: 100%;
  bottom : -4px;
  position: relative;
  border-radius: 0 0 8px 8px;
}

.b200-hovertext {
  position: absolute;
  bottom: 0; /* Position längst ner på bilden */
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); /* Halvtransparent svart bakgrund */
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0; /* Dölj texten som standard */
  transition: opacity 0.3s ease; /* Smidig övergång */
  font-family: 'Baloo 2', sans-serif;
  font-size: 18px;
  border-radius: 0 0 8px 8px;
}

.b200-container:hover {
  transform: translateY(-5px); /* Flyttar elementet uppåt för "lyfteffekt" */
  box-shadow:  0 18px 25px rgba(0, 0, 0, 0.4), /* Stor suddig skugga nedåt */
               0 8px 12px rgba(0, 0, 0, 0.3); 
  cursor: pointer;
  
}

.b200-container:hover .b200-hovertext {
  opacity: 1;
}

#filterByGenre {
  max-width:  1440px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: nowrap;
}

.filterButtons {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  width: 120px;
  height: 32px;
  margin: 10px;
  background-color: #6BCABA; /* Matchar popcornens gula färg */
  color: #000;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.1s;
  cursor: pointer;
}

/* Subtil hover-effekt */
.filterButtons:hover {
  background-color: #78dac9;  /* Ljusare nyans för hover */
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.1); /* Förstärkt höjd vid hover */
}

/* Tydlig tryckeffekt */
.filterButtons:active {
  background-color: #5ac0af; /* Mörkare nyans när knappen trycks ned */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3); /* Inre skugga för intryckseffekt */
  transform: translateY(2px); /* Liten förflyttning nedåt */
}



/* create a horizontal scrollbar with two rows */
@media (max-width: 1440px) { 
  #filterByGenre {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap; /* Disable wrapping to keep items in one row */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Ensure no line breaks */
    max-width: 1440px; /* Keep the container centered */
    margin: 20px auto;
  }
  
  .filterButtons {
    border-radius: 8px 0 8px 0;
    width: 120px;
    height: 32px;
    margin: 10px;
  }
}

@media (max-width: 1024px) {
  .b200-container {
    min-width: 150px;
  }

  .b200-container h5 {
    font-size: small;
  }
}

/* WebKit */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
