#movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0 50px 50px;
}

#movie-info h3 {
  font-family: 'Ballo 2', sans-serif;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
}

#movie-info p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#movie-info-text{
  margin: 0;
}

#movie-info-date{
  margin-right: auto;
}

#modal-info {
  bottom: 0;
  color: red;
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
}

#movie-poster {
  margin: 50px;
}

/* Modal grundläggande styling */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

#modal-wrap {
  max-width: 750px;
  max-height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
  background-color: white;
  margin: 20px;
}

#modal.hidden {
  visibility: hidden;
  opacity: 0;
}

#modal:not(.hidden) {
  visibility: visible;
  opacity: 1;
}

/* Vita hjärtat (bakgrund) */
#favorite-button {
  width: 48px; /* 32px + lite extra padding */
  height: 48px;
  color: #ffffff; /* Vit färg */
  border-radius: 50%; /* Rund knapp */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Positionera knappen relativt */
  cursor: pointer;
}

/* Hover-effekt för knappen */
#favorite-button:hover {
  transform: scale(1.1); /* Gör knappen större vid hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Öka skuggan */
}

/* Rosa hjärtat (innehåll) */
#favorite-toggle {
  font-size: 24px; /* Storlek på rosa hjärtat */
  color: #FF5572; /* Rosa färg */
  position: absolute; /* Läggs ovanpå knappen */
  top: 50%; /* Centrerar vertikalt */
  left: 50%; /* Centrerar horisontellt */
  transform: translate(-50%, -50%); /* Justera för korrekt centrering */
}

/* Active-tillståndet (solid hjärta) */
#favorite-button.active #favorite-toggle {
  color: #FF5572; /* Samma rosa färg för solid hjärta */
  transform: translate(-50%, -50%) scale(1.2); /* Liten förstoring av hjärtikonen vid aktivt tillstånd */
  transition: color 0.3s ease, transform 0.3s ease; /* Smidig övergång */
}
